body, td   {
	font-family: verdana,arial,sans-serif;  
	color: #000000; 
	font-size: 12px;
}

select {
	font-family: verdana,arial,helvetica,sans-serif;  
	color: #000000; 
	font-size: 12px;
	width: 200px;
	

	}
	
input[type="submit"] {  
	width: auto;  
} 

input[type="image"] {  
	width: auto;  
} 
	
	
input {
	font-family: verdana,arial,helvetica,sans-serif;  
	color: #000000; 
	font-size: 12px;
	width: 200px;
}

td {
	padding-left:13px;
	#border-spacing: 5pt 2pt;
}

	
 